<div id="footer">
	<div class="container">
		<span class="site-info">Develop By J Chan</span>
		<span class="site-info"><a href="http://www.derrickblog.cn" target="_blank">作者博客</a></span>
		<span class="site-info">学牛逼的前端技术</span>
	</div>
</div>
