<div id="header">
  <div class="container">
		<div id="logo">
			<!-- <span>LEARN BY CNODE</span> -->
			<img src="../public/images/logo.png">
		</div>
		<div id="nav-bar">
			<ul class="nav-group">
				<li>首页</li>
				<li>登陆</li>
			</ul>
		</div>
	</div>	
</div>
